* {
    box-sizing: border-box;
}

.divWrapper {
    width: 1000px;
    height: 400px;
    background-color: black;
    border: 10px solid red;

    overflow: auto;
    /*overflow-y: auto;
    overflow-x: hidden;*/

}

.innerDiv {
    width: 75%;
    height: 50%;/* exception*/
    padding: 25%;
    background-color: green;
    border: 5px solid blue;
    margin: 10%;
}
