body {
    margin: 0;
}

.container{
    /*
    content padding border margin
    */

    /*box-sizing: content-box;!* content only W H *!*/
    box-sizing: border-box; /* content + padding + border */
    width: 50%;
    height: 300px;
    background-color: orange;
    color: white;
    font-size: 40px;
    border: 56px solid red;

    /*
    don't touch this
    */
    display: inline-block;
}
